canvas {
	background-color: white;
	border: dashed;
	border-color: #ddd;
	margin: 1em;
}

.debug {
	color: #aaa;
	float: right;
	font-family: OpenSans, 'Helvetica Neue', Helvetica, Arial, Verdana, sans-serif;
	margin: 1em;
}

.debug__input {
	color: #aaa;
	width: 3em;
}

.debug__panel {
	margin-left: 3em;
	margin-bottom: 1em;
}

.debug__panel {
	display: none;
}

.debug__panel.is-shown {
	display: block;
}

.key {
	color: #777;
}